  html {
    background-color: #282828;
}

#page-outer {
    background-color: #282828;
}

a.Button.StreamsLogin.js-login {
    background-color: #282828;
    color: #EBDBB2;
}

a.Button.StreamsSignUp.js-nav.js-signup {
    background-color: #282828;
}

a.DashboardProfileCard-avatarLink.u-inlineBlock {
    background-color: #282828;
}

a.Footer-link {
    color: #83a598;
}

a.MomentCapsuleSummary-title.js-default-link.js-nav.u-dir {
    color: #EBDBB2;
}

a.QuoteTweet-link.js-nav {
    color: #83a598;
}

a.SignupForm-submit.u-block.u-textCenter.js-signup.btn.primary-btn {
    background-color: #282828;
    color: #7C6F64;
}

a.StreamsCategoryBar-item.js-nav {
    background-color: #7C6F64;
}

a.StreamsCategoryBar-item.js-nav.StreamsCategoryBar-item--selected {
    background-color: #7C6F64;
    color: #260a26;
}

a.js-nav {
    color: #EBDBB2;
}

a.js-nav.js-tooltip.js-dynamic-tooltip {
    color: #83a598;
}

a.js-tooltip.js-dynamic-tooltip.global-dm-nav {
    color: #83a598;
}

button.EdgeButton.EdgeButton--secondary.EdgeButton--medium.button-text.follow-text {
    background-color: #282828;
    color: #EBDBB2;
}

button.EdgeButton.EdgeButton--secondary.EdgeButton--small.button-text.follow-text {
    background-color: #282828;
}

button.PollingCardComposer-addOption.u-textUserColor span {
    background-color: #282828;
    color: #83a598;
}

button.PollingCardComposer-defaultDuration.u-textUserColor {
    color: #83a598;
}

button.js-global-new-tweet.js-tooltip.EdgeButton.EdgeButton--primary.js-dynamic-tooltip.in {
    background-color: #282828;
}

div.ActivityItem {
    background-color: #282828;
}

div.AppContent {
    background-color: #282828;
}

div.ComposerThumbnails {
    background-color: #282828;
}

div.DMActivity-body.js-ariaBody {
    background-color: #282828;
}

div.DMActivity-header {
    background-color: #282828;
}

div.DMInbox-content.u-scrollY {
    background-color: #282828;
}

div.DMInboxItem {
    background-color: #282828;
}

div.DMNotice.DMNotice--explicitDismiss.DMNotificationsPermissionRequest {
    background-color: #83a598;
}

div.DashboardProfileCard-content {
    background-color: #282828;
}

div.InStreamSignup {
    background-color: #282828;
}

div.LoginDialog-body.modal-body {
    background-color: #282828;
}

div.LoginDialog-footer.modal-footer.u-textCenter {
    background-color: #282828;
    color: #83a598;
}

div.LoginForm-rememberForgot label span {
    color: #83a598;
}

div.MomentCapsuleSummary-details {
    background-color: #282828;
}

div.MomentGuideNavigation {
    background-color: #282828;
}

div.PageHeader {
    color: #EBDBB2;
}

div.PollingCardComposer {
    background-color: #282828;
}

div.PollingCardComposer-optionInput.is-singleLine.is-plainText.u-borderUserColorLightFocus div {
    background-color: #282828;
    color: #83a598;
}

div.PollingCardComposer-optionInput.is-singleLine.is-plainText.u-borderUserColorLightFocus.is-showPlaceholder {
    background-color: #282828;
}

div.PollingCardComposer-optionInput.is-singleLine.is-plainText.u-borderUserColorLightFocus.is-showPlaceholder div {
    background-color: #282828;
    color: #282828;
}

div.PollingCardComposer-pollDuration {
    background-color: #282828;
}

div.ProfileCanopy-navBar.u-boxShadow {
    background-color: #282828;
}

div.ProfileClusterFollow {
    background-color: #282828;
}

div.Section {
    background-color: #282828;
}

div.Section p {
    color: #EBDBB2;
}

div.SignupCallOut.module.js-signup-call-out {
    background-color: #282828;
}

div.StreamsCategoryBar-item.ItemSearch {
    background-color: #7C6F64;
    color: #EBDBB2;
}

div.StreamsHero-image {
    background-color: #282828;
}

div.StreamsTopBar.js-variableHeightTopBar {
    background-color: #7C6F64;
}

div.StreamsTopBar.js-variableHeightTopBar.StreamsTopBar--fixed {
    background-color: #7C6F64;
}

div.TopNav {
    background-color: #3c3836;
}

div.TopNav--container.u-cf {
    background-color: #3c3836;
}

div.TopNav-title.u-pullLeft {
    color: #EBDBB2;
}

div.TweetBoxToolbar {
    background-color: #282828;
}

div.dropdown-menu.StreamsCategoryBar-dropdownMenu {
    background-color: #282828;
}

div.dropdown.StreamsCategoryBar-item.js-dropdown-toggle {
    background-color: #7C6F64;
}

div.flex-module {
    background-color: #282828;
}

div.flex-module-header h3 {
    color: #83a598;
}

div.global-nav-inner {
    background-color: #282828;
}

div.home-tweet-box.tweet-box.component.tweet-user {
    background-color: #282828;
}

div.js-nav.trend-item-stats {
    color: #83a598;
}

div.modal-header {
    background-color: #282828;
}

div.modal-tweet-form-container {
    background-color: #282828;
}

div.module.Trends.trends {
    background-color: #282828;
}

div.new-tweets-bar.js-new-tweets-bar {
    background-color: #282828;
}

div.recap-header.dismissible-content {
    background-color: #282828;
}

div.reply-users {
    background-color: #282828;
}

div.thumbnail-wrapper {
    background-color: #282828;
}

div.tweet-box.rich-editor {
    background-color: #282828;
}

div.tweet-box.rich-editor div {
    background-color: #282828;
    color: #a89984;
}

div.tweet-box.rich-editor.is-showPlaceholder {
    background-color: #282828;
}

div.tweet.js-stream-tweet.js-actionable-tweet.js-profile-popup-actionable.dismissible-content.conversation-ancestor.conversation-tweet {
    background-color: #282828;
}

div.tweet.js-stream-tweet.js-actionable-tweet.js-profile-popup-actionable.dismissible-content.conversation-root.conversation-tweet {
    background-color: #282828;
}

div.tweet.js-stream-tweet.js-actionable-tweet.js-profile-popup-actionable.dismissible-content.original-tweet.js-original-tweet {
    background-color: #282828;
}

div.tweet.js-stream-tweet.js-actionable-tweet.js-profile-popup-actionable.dismissible-content.original-tweet.js-original-tweet.has-cards.has-content {
    background-color: #282828;
}

form.Form {
    background-color: #282828;
}

h1.Icon.Icon--bird.bird-topbar-etched {
    color: #83a598;
}

h2.StreamsHero-header {
    color: #FB4934;
}

h3.Streams-dividerText {
    background-color: #282828;
}

h3.modal-title {
    color: #83a598;
}

input.Button {
    background-color: #83a598;
}

input.Form-textbox {
    background-color: #282828;
}

input.file-input.js-tooltip.in {
    color: #83a598;
}

input.search-input {
    background-color: #EBDBB2;
    color: #282828;
}

input.submit.btn.primary-btn.js-submit {
    background-color: #83a598;
    color: #EBDBB2;
}

input.text-input {
    background-color: #282828;
}

input.text-input.email-input.js-signin-email {
    background-color: #282828;
}

li.Dropdown.Dropdown--twoColumn.TopNav-languageSelector span {
    color: #EBDBB2;
}

li.Footer-item.Footer-copyright.copyright {
    color: #83a598;
}

li.ProfileHeading-toggleItem.is-active span {
    color: #EBDBB2;
}

li.ProfileNav-item.ProfileNav-item--userActions.u-floatRight.u-textRight.with-rightCaret {
    background-color: #282828;
}

li.missing-tweets-bar {
    background-color: #282828;
}

p.DMInboxItem-snippet {
    color: #83a598;
}

p.TweetTextSize.js-tweet-text.tweet-text {
    color: #EBDBB2;
}

span.Icon.Icon--bird {
    color: #EBDBB2;
}

span.Icon.Icon--close.Icon--medium {
    color: #83a598;
}

span.Icon.Icon--geo {
    color: #83a598;
}

span.Icon.Icon--gif.Icon--large {
    color: #83a598;
}

span.Icon.Icon--search {
    color: #282828;
}

span.Icon.Icon--smiley {
    color: #83a598;
}

span.Icon.Icon--tweet.Icon--large {
    background-color: #282828;
    color: #EBDBB2;
}

span.MomentCapsuleSubtitle-category.u-dir {
    color: #689D6A;
}

span.MomentCapsuleSubtitle-context {
    color: #689D6A;
}

span.PollCreator-icon.Icon.Icon--pollBar {
    color: #83a598;
}

span.ProfileCardStats-statLabel.u-block {
    color: #FB4934;
}

span.StreamsCategoryBar-itemName {
    color: #282828;
}

span.StreamsHero-superImage.Icon.Icon--bird {
    background-color: #282828;
    color: #EBDBB2;
}

span._timestamp {
    color: #83a598;
}

span.trend-location.js-trend-location {
    color: #83a598;
}

span.username.u-dir {
    color: #bdae93;
}

strong.fullname {
    color: #EBDBB2;
}

strong.fullname.show-popup-with-id {
    color: #83a598;
}

ul.ProfileHeading-toggle {
    background-color: #282828;
}

div.dropdown-menu.dropdown-menu--rightAlign.is-forceRight.is-autoCentered {
    background-color: #282828;
}

div.ProfileListItem.u-cf.js-list {
    background-color: #282828;
}

div.header-inner {
    background-color: #282828;
}

div.follow-bar.js-list-actions {
    background-color: #282828;
}

a.list-link.js-nav {
    background-color: #282828;
}

ul.stats {
    background-color: #282828;
}

div.ProfileCard.js-actionable-user.ProfileCard--wide {
    background-color: #282828;
}

div.SidebarFilterModule.is-collapsed.with-3-filters {
    background-color: #282828;
}

div.AdaptiveSearchPage-moduleHeader {
    background-color: #282828;
}

ul.AdaptiveRelatedSearches-items {
    background-color: #282828;
}

div.WhoToFollow.module.is-visible {
    background-color: #282828;
}

div.AdaptiveFiltersBar {
    background-color: #282828;
}

div.stream-end-inner {
    background-color: #282828;
}

#global-new-tweet-button {
    background-color: #282828;
}

