############## URxvt ##############
URxvt*font:xft:Mono:size=13
URxvt.letterSpace: -2
URxvt.scrollBar: false
URxvt*foreground: #7A846C
# URxvt*background: rgba:0000/0000/0200/c800
URxvt*transparent:true
URxvt*shading:35
#URxvt*depth: 70

emacs*foreground:   #C1B3B1
emacs*background:   #282828

######### Possible
# Light-Grey-Green      #929983
# OD-Green              #575d35
# Light-OD-Green        #c7c79e
# Medium-OD-Green       #817d62 & #90906E
# faded-lime-green      #7A846C

# Bad_Blue #2e2f3b

############# Colors ###############
! Colors 0-15.
*.color0: #282828
*color0:  #282828
*.color1: #817D62
*color1:  #817D62
*.color2: #7A846C
*color2:  #7A846C
*.color3: #90906E
*color3:  #90906E
*.color4: #A6A27A
*color4:  #A6A27A
*.color5: #595742
*color5:  #595742
*.color6: #C1BE95
*color6:  #C1BE95
*.color7: #C7C79E
*color7:  #C7C79E
*.color8: #818289
*color8:  #818289
*.color9: #817D62
*color9:  #817D62
*.color10: #7A846C
*color10:  #7A846C
*.color11: #90906E
*color11:  #90906E
*.color12: #A6A27A
*color12:  #A6A27A
*.color13: #B5B188
*color13:  #B5B188
*.color14: #C1BE95
*color14:  #C1BE95
*.color15: #C7C79E
*color15:  #C7C79E

################## Rofi #######################
! Rofi colors.
rofi.color-window: #292d2d, #292d2d, #978F8B
rofi.color-normal: #292d2d, #C1B3B1, #292d2d, #978F8B, #292d2d
rofi.color-active: #292d2d, #C1B3B1, #292d2d, #978F8B, #292d2d
rofi.color-urgent: #292d2d, #837E7B, #292d2d, #837E7B, #C1B3B1
rofi.lines: 5
rofi.fullscreen: false
rofi.display-combi: true
