############## URxvt ##############
URxvt*font:xft:Mono:size=13
URxvt.letterSpace: -2
URxvt.scrollBar: false
URxvt*foreground: #DEE9E8
URxvt*background: rgba:0000/0000/0200/c800
URxvt*transparent:true
URxvt*shading:30
URxvt*depth: 25

! Colors 0-15.
*.color0: #171818
*color0:  #171818
*.color1: #038D91
*color1:  #038D91
*.color2: #299FA2
*color2:  #299FA2
*.color3: #60B0B1
*color3:  #60B0B1
*.color4: #7CC0C0
*color4:  #7CC0C0
*.color5: #92B5B2
*color5:  #92B5B2
*.color6: #A4CECD
*color6:  #A4CECD
*.color7: #DEE9E8
*color7:  #DEE9E8
*.color8: #737474
*color8:  #737474
*.color9: #038D91
*color9:  #038D91
*.color10: #299FA2
*color10:  #299FA2
*.color11: #60B0B1
*color11:  #60B0B1
*.color12: #7CC0C0
*color12:  #7CC0C0
*.color13: #92B5B2
*color13:  #92B5B2
*.color14: #A4CECD
*color14:  #A4CECD
*.color15: #DEE9E8
*color15:  #DEE9E8


################## Rofi #######################
rofi.color-window:  #171818, #171818, #299FA2
rofi.color-normal:  #171818, #DEE9E8, #171818, #299FA2, #171818
rofi.color-active:  #171818, #DEE9E8, #171818, #299FA2, #171818
rofi.color-urgent:  #171818, #038D91, #171818, #038D91, #DEE9E8
rofi.lines: 5
rofi.fullscreen: false
rofi.display-combi: true
